html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: monospace, sans-serif;
    background: url(./assets/starrybg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    display: block;
    background-color: #000000;
    border: 2px solid #ffff;
    margin: auto;
}

img {
    display: none;
} 

#title {
    width: 800px; /* width of the canvas */
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    color: #ffff00;
    text-align: center;
}

@media (max-height: 869px) {
    canvas {
        width: 75%;
        height: 90%;
    }
    #title {
        width: 75%;
        height: 20%;
    }
}

@media (max-width: 1050px) {
    canvas {
        width: 75%;
        height: 75%;
    }
    #title {
        width: 75%;
        height: 20%;
    }
}