html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: monospace, sans-serif;
    background: url(./assets/starrybg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: #000000;
    border: 2px solid #ffff;
    margin: 10px auto;
}

img {
    display: none;
}

canvas, #infoContainer {
    filter: blur(0.5rem);
}

#infoContainer {
    width: 800px; /* width of the canvas */
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    color: #ffff00;
    text-align: center;
}

#gameButtons {
    width: 800px;
    height: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameButtons button {
    width: 50%;
    height: 25%;
    background-color: #2921ff;
    color: #ffff00;
    font-size: x-large;
}
#gameButtons button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px #000000;
}

@media (max-height: 915px) {
    canvas {
        width: 75%;
        height: 85%;
    }
    #title {
        width: 75%;
        height: 10%;
    }
}

@media (max-width: 1050px) {
    canvas {
        width: 75%;
        height: 75%;
    }
    #title {
        width: 75%;
        height: 20%;
    }
}

@media (max-width: 650px) {
    #title {
        flex-direction: column;
    }
}