html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: monospace, sans-serif;
    background: url(./assets/starrybg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

canvas {
    display: none;
    background-color: #000000;
    border: 2px solid #ffff;
    margin: 10px auto;
    /* box-shadow: inset 0 0 20px red; */
}

img {
    display: none;
}

#info-container {
    width: 800px; /* width of the canvas */
    margin: auto;
    display: none;
    justify-content: space-around;
    font-size: x-large;
    color: #ffff00;
    text-align: center;
}

#game-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
    color: #ffff;
}
#game-title {
    color: #ffff00;
    font-size: xx-large;
    text-decoration: underline;
}

#score-info {
    display: none;
}

#game-buttons {
    width: 800px;
    height: 5%;
    margin: 5rem auto;
}
#game-buttons button {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #2921ff;
    color: #ffff00;
    font-size: x-large;
}
#game-buttons button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px #000000;
}

#controls-info {
    width: 100%;
    height: 100%;
    color: #fbff00;
}

#press-to-begin {
    font-size: large;
    color: #2921ff;
}

@media (max-height: 915px) {
    canvas {
        width: 50%;
        height: 75%;
    }
    #info-container {
        width: 75%;
        height: 10%;
    }
    #game-buttons {
        width: 75%;
        height: 15%
    }
}

@media (max-width: 1050px) {
    canvas {
        width: 50%;
        height: 75%;
    }
    #info-container {
        width: 75%;
        height: 10%;
    }
    #game-buttons {
        width: 75%;
        height: 15%;
    }
}

@media (max-width: 650px) {
    #info-container {
        flex-direction: column;
    }
}